{% extends 'base.html' %}

{% block content %}

  {% if user %}
    {% if user.role == 'Editor' %}
        {% include 'includes/editor_navbar.html' %} 
    {% elif user.role == 'Author' %}
        {% include 'includes/author_navbar.html' %}
    {% elif user.is_admin %}
        {% include 'includes/admin_navbar.html' %}  
    {% endif %} 
  {% endif %}
  
  <form action="{% url 'forgot_password' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email address</label>
          <input type="email" name="email" placeholder="Enter your email address"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}