{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'forgot_password' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email address</label>
          <input type="email" name="email" placeholder="Enter your email address"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include 'includes/alerts.html' %}
        </div>
    </div>

  </form>
{% endblock %}