{% extends 'base.html' %}

{% block content %}
  
  <h2>Login as Admin</h2>
  {% if next %}
    <form action="{% url 'loginAdmin' %}?next={{ next }}" method="post">
  {% else %}
    <form action="{% url 'loginAdmin' %}" method="post">
  {% endif %}    

    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Username</label>
          <input type="text" name="username" placeholder="Enter your username"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter your password"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button><br/>
    <a href="{% url 'forgot_password' %}">Forgot password</a></br>
  </form>
  
{% endblock %}