{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<form enctype="multipart/form-data" class="container" {% block action %}action="{% url 'register_user' %}"{% endblock %} method="post" id="user_form">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>First name</label> {{ form.first_name }}
    </div>
    {% comment %}
      <input type="text" name="first_name" placeholder="Enter your first name" value="{{ form.first_name.value }}"/>
    {% endcomment %}
    <div class="form-group col-md-4">
      <label>Last name</label> {{ form.last_name }}
    </div>
    <div class="form-group col-md-4">
      <label>Email address</label> {{ form.email }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6" id="item-research_areas">
      <label>Research Areas</label>&nbsp; &nbsp;<a href="#" class="add-research_areas"><i class="fas fa-plus"></i></a>
      <br />
      {{ formset.management_form }}
      {% for rform in formset %}
        {{ rform.management_form }}
        <tr>
          {% for field in rform.visible_fields %} 
            {% if field.name != 'DELETE' %}
              <td>
                  {{ field }}
                  {% for error in field.errors %}
                    <span style="color: red">{{ error }}</span>
                  {% endfor %}
              </td>
            {% endif %} 
          {% endfor %} 
          {% if rform.instance.pk %}
            <input type="hidden" name="{{ formset.prefix }}-{{ forloop.counter0 }}-id" value="{{ rform.instance.pk }}"/>
          {% endif %}
          {% comment %} for delete {% endcomment %}
          {% if rform.instance.pk %}
            <td>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal{{rform.instance.pk}}">
                    Delete
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{rform.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{rform.instance.pk}}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel{{rform.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'delete_research_area' rform.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>            
        {% endif %}
        </tr>
        <br/>
      {% endfor %}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <ul class='errorList'>
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    {% for error in non_field_errors %}
      <li style="color: red;">{{ error }}</li>
    {% endfor %}  
  </ul>  

  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          {% include 'includes/alerts.html' %}
      </div>
  </div>

</form>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>

<script>
  $(document).ready(function () {
    // when user clicks add more btn of variants
    $(".add-research_areas").click(function (ev) {
      ev.preventDefault();
      var formPrefix = "research_areas";
      var tmplMarkup = `
            <tr>
                {% for field in formset.empty_form.visible_fields %}
                {% if field.name != 'DELETE' %}
                    <td>
                        {{ field }}
                        {% for error in field.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        `;
      var tmplMarkupWithValues = tmplMarkup;
      var formCountInput = $("#id_" + formPrefix + "-TOTAL_FORMS");
      var formCount = parseInt(formCountInput.val());

      // update form count
      formCount += 1;
      formCountInput.val(formCount);

      // add 'required' attribute to dynamically added form fields
      tmplMarkupWithValues = tmplMarkupWithValues.replace(
        /__prefix__/g,
        formCount - 1
      );
      tmplMarkupWithValues = tmplMarkupWithValues.replace(
        /research_areas-__prefix__/g,
        "research_areas-" + (formCount - 1)
      );

      $("#item-research_areas").append(tmplMarkupWithValues);
    });
  });
</script>

{% endblock %}
