{% extends 'base.html' %}

{% block content %} 

  {% if user %}
    {% if user.role == 'Editor' %}
        {% include 'includes/editor_navbar.html' %} 
    {% elif user.role == 'Author' %}
        {% include 'includes/author_navbar.html' %}
    {% elif user.is_admin %}
        {% include 'includes/admin_navbar.html' %}  
    {% endif %} 
  {% endif %}

  <form action="{% url 'reset_password' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" name="password" placeholder="Set new password"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Confirm Password</label>
          <input type="password" name="confirm_password" placeholder="Confirm new password"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
  
{% endblock %}