{% extends 'paper/add_author.html' %}

{% block modal-id %} id="edit_author_modal" {% endblock modal-id %}

{% block modal-title %}<i class="fas fa-edit"></i>&nbsp;&nbsp; Edit Author</h5>{% endblock modal-title %}

{% block action %} action="{% url 'edit_author' paper.id conference_id author_id %}" {% endblock action %}

{% block btn-action %}<i class="fas fa-edit"></i>&nbsp;&nbsp;Save Changes{% endblock btn-action %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#edit_author_modal').modal('show');
    $('#edit_author_modal').on('click', function(event) {
      if ($(event.target).is('#edit_author_modal')) {
        redirectToSubmitPaper();
      }
    });
  }); 
{% endblock js %}

