

{% block css %}
<style>

    /* Sidebar Styles */
    .container {
      width: 200px; /* Adjust the width as needed */
      background-color: #2b0909;
      height: 100%; /* Make the sidebar fill the entire height of the page */
      position: fixed;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
      z-index: 10;
    }

    .container ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .container ul li {
      padding: 10px;
      border-bottom: 1px solid #f6f6f6;
      color: white;
    }

    .container ul li:last-child {
      border-bottom: none;
    }

    .container ul li a {
      text-decoration: none;
      color: #efdfdf;
    }

    .container ul li:hover {
      background-color: #f4eeee;
    }

    /* Content Styles */
    .con {
      margin-left: 200px; /* Adjust the margin to match the sidebar width */
      padding: 20px;
    }
    .nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    margin: 5px;
    padding: 10px;
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}
.tag{
  color:white;
  text-align: center;
  margin-bottom: 30px;
}

</style>

{%endblock%}
{% block content %}
<div class="container">
    
    <ul class="list-unstyled">
      <div class="tag">Admin Sidebar</div>
      <li><a href="{% url 'edit_is_approved' %}">Conference Approval</a></li>
      <li>About</li>
      <li>Services</li>
      <li>Contact</li>
      <div >
        <li><a  href="{% url 'myAccount' %}">My Account</a></li>
        <!-- <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button> -->
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <!-- <button class="btn" id="registerBtn" onclick="register()"> Sign Up</button> -->
    </div>
    </ul>
  </div>
  
  


  {% endblock %}
