<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Conferva</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %} 
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_conference' %}">Create a conference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'conference_listing' %}">Submit paper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myAccount' %}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_profile' user.id %}">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reset_password' %}">Change Password</a>
            </li>       
        {% else %}    
        <ul class="navbar-nav">  
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_conference' %}">Create a conference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'conference_listing' %}">Submit paper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}">Register</a>
            </li>
        </ul>
        {% endif %}  
    </div>
  </nav>
