{% load static %}


    <title>Conference meeting</title>
    {% block css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

 

body {
    background-image: url('{% static "images/conference.jpg" %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: auto; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 247, 245);
}

.button-two {
    border-radius: 4px;
    background-color: #1bd864;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}

.button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-two:hover span {
    padding-right: 25px;
}

.button-two:hover span:after {
    opacity: 1;
    right: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(39, 39, 39, 0.4);
}

.nav {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
   background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 10;
}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}



/* .login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
} */

/* .register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
} */


header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}








@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    
}
    </style>
    {% endblock %}

</head>

<body>
    <div class="wrapper">
        <nav class="nav">

            <a class="nav-logo" href="/">
                <p>Conferva</p>
            </a>
        {% if user.is_authenticated %} 
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="{% url 'home' %}" class="link">Home<span>(current)</span></a></li>
                    <li><a href="#" class="link">About</a></li>
                    <li><a href="{% url 'create_conference' %}" class="link" onclick="toggleForm()">Create a conference</a> </li>
                    <li><a href="{% url 'conference_listing' %}" class="link">Submit Paper</a></li>

                </ul>
            </div>
            <div class="nav-button">
                <a class="btn white-btn" id="loginBtn" href="{% url 'myAccount' %}">My Account</a>
                <!-- <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button> -->
                <a class="btn" id="registerBtn" href="{% url 'logout' %}">Logout</a>
                <!-- <button class="btn" id="registerBtn" onclick="register()"> Sign Up</button> -->
            </div>
            {% else %}   
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="{% url 'home' %}" class="link">Home</a></li>
                    <li><a href="#" class="link">About</a></li>
                    <li><a href="{% url 'create_conference' %}" class="link" onclick="toggleForm()">Register for Our
                            conference</a> </li>
                    <li><a href="{% url 'conference_listing' %}" class="link">Submit Paper</a></li>

                </ul>
            </div>
            <div class="nav-button">
                <a class="btn white-btn" id="loginBtn" href="{% url 'login' %}">Login</a>
                <!-- <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button> -->
                <a class="btn" id="registerBtn" href="{% url 'registerUser' %}">Register</a>
                <!-- <button class="btn" id="registerBtn" onclick="register()"> Sign Up</button> -->
            </div>
            {% endif %} 
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
           
        </nav>
       


        <script>

            function myMenuFunction() {
                var i = document.getElementById("navMenu");
                if (i.className === "nav-menu") {
                    i.className += " responsive";
                } else {
                    i.className = "nav-menu";
                }
            }

        </script>
        <script>
            var a = document.getElementById("loginBtn");
            var b = document.getElementById("registerBtn");
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            function login() {
                x.style.left = "4px";
                y.style.right = "-520px";
                a.className += " white-btn";
                b.className = "btn";
                x.style.opacity = 1;
                y.style.opacity = 0;
            }
            function register() {
                x.style.left = "-510px";
                y.style.right = "5px";
                a.className = "btn";
                b.className += " white-btn";
                x.style.opacity = 0;
                y.style.opacity = 1;
            }
        </script>
        <script>
            function toggleForm() {
                var form = document.getElementById("myForm");
                form.classList.toggle("show");
            }
        </script>

</body>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Conferva</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %} 
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_conference' %}">Create a conference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'conference_listing' %}">Submit paper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myAccount' %}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a id="btn-nav" style="cursor:pointer">
                    {% if user.is_admin == True %}
                        <i class="fa-solid fa-bell"></i><span class="not_approved" data-bs-toggle="modal" data-bs-target="#exampleModal">5</span>
                    {% else %}
                        <i class="fa-solid fa-bell"></i><span class="not_approved" data-bs-toggle="modal" data-bs-target="#exampleModal">9</span>
                    {% endif %}    
                </a>
            </li>        
        {% else %}    
        <ul class="navbar-nav">  
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_conference' %}">Create a conference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'conference_listing' %}">Submit paper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registerUser' %}">Register</a>
            </li>
        </ul>
        {% endif %}  
    </div>
  </nav> -->