<!-- <div class="inputfield">
  <label>Start Date</label>
    <input type="date" name="startdate"/> 
</div> 
<div class="inputfield">
<label>End Date</label>
  <input type="date" name="enddate"/> 
</div>  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="submit.css" />
    <title>Registeration Form</title>
</head>
<body>
    
    <div class="content-container">
   
      
    <h1>Registeration Form</h1>

    <div class="form-container">
     
        <div class="row">
          <div class="col-25">
            <label for="fname">First Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="name" placeholder="Your Name..">
          </div>
        </div>
      
        <div class="row">
          <div class="col-25">
            <label for="fname">Last Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="name" placeholder="Your Name..">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="fname"> Acronym</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="acronym" placeholder="Acronym..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Email</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="Email" placeholder="Your Email..">
          </div>
        </div>
        
        <div class="row">
          <label>Start Date</label>
    <input type="date" name="startdate"/> 
        </div>
        <div class="row">
          <label>End Date</label>
    <input type="date" name="enddate"/> 
        </div>
        <div class="row">
          <input type="submit" value="Submit">
        </div>
      </div>
   
    </div>
  
</body>
</html>