<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="table.css">
    
    <title>Data Table</title>
</head>
<body>
    <div class="container">
        <h1>Conferences accepting submissions</h1>
        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>Area</th>
                    <th>Conference</th>
                    <th>Name</th>
                    <th>Where and When</th>
                    <th>Latest Deadline</th>
                    <th>Submit</th>
                </tr>
                <tr>
                    <td data-th="Area">
                        Communications, Computer architecture
                    </td>
                    <td data-th="Conference">
                        16th MCSoC-2023
                    </td>
                    <td data-th="Name">
                        16th International Symposium on Embedded Multicore/Manycore SoCs (MCSoC-2023)
                    </td>
                    <td data-th="Where and When">
                        Singapore, Singapore
                        Dec 18, 2023
                    </td>
                    <td data-th="Latest Deadline">
                        Jul 1, 2023 17:29 Asia/Calcutta
                    </td>
                    <td data-th="Submit">
                        <a target="_blank" class="fcc-btn" href="submit.html">Click Here</a>  
                    </td>
                </tr>
                <tr>
                    <td data-th="Area">
                        Communications, Computer architecture
                    </td>
                    <td data-th="Conference">
                        16th MCSoC-2023
                    </td>
                    <td data-th="Name">
                        16th International Symposium on Embedded Multicore/Manycore SoCs (MCSoC-2023)
                    </td>
                    <td data-th="Where and When">
                        Singapore, Singapore
                        Dec 18, 2023
                    </td>
                    <td data-th="Latest Deadline">
                        Jul 1, 2023 17:29 Asia/Calcutta
                    </td>
                    <td data-th="Submit">
                        <a target="_blank" class="fcc-btn" href="submit.html">Click Here</a>  
                    </td>
                </tr>
                <tr>
                    <td data-th="Area">
                        Communications, Computer architecture
                    </td>
                    <td data-th="Conference">
                        16th MCSoC-2023
                    </td>
                    <td data-th="Name">
                        16th International Symposium on Embedded Multicore/Manycore SoCs (MCSoC-2023)
                    </td>
                    <td data-th="Where and When">
                        Singapore, Singapore
                        Dec 18, 2023
                    </td>
                    <td data-th="Latest Deadline">
                        Jul 1, 2023 17:29 Asia/Calcutta
                    </td>
                    <td data-th="Submit">
                        <a target="_blank" class="fcc-btn" href="submit.html">Click Here</a>  
                    </td>
                </tr>
                <!-- Add more conference rows here -->
            </tbody>
        </table>
    </div>

   
   
   
</body>
</html>
