{% extends 'base.html' %}
{% block content %}
  {% include 'includes/alerts.html' %}

  {% if not display_add_author_modal and not display_edit_author_modal %}
      {% if paper %}  
        <form id="submit-paper-form" action="{% url 'submit_paper' conference_id paper.id %}" method="post" enctype="multipart/form-data">
      {% else %}
        <form action="{% url 'submit_paper' conference_id %}" method="post" enctype="multipart/form-data">
      {% endif %}   
  {% endif %}
  
<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="add_author_modal" {% endblock modal-id %} tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp;Add Author</h5>{% endblock modal-title %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="redirectToCreateConference()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form {% block action %} action="{% url 'add_author' conference_id paper.id %}" {% endblock action %} method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>First name</label> {{ aform.first_name }}
              </div>
              <div class="form-group col-md-6">
                <label>Last name</label> {{ aform.last_name }}
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Email</label> {{ aform.email }}
                </div>
            </div>
            <div class="mt-4" style="width: 100%;"> 
              <button type="submit" class="btn btn-secondary mb-3">
                {% block btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp;Add Author{% endblock btn-action %}
              </button>
              <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <ul class='errorList'>
              {% for field in aform %}
                  {% if field.errors %}
                      {% for error in field.errors %}
                          <li style="color: red;">{{ error }}</li>
                      {% endfor %}
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
      </form>      
    </div>
  </div>
</div>
{% comment %} Modal end {% endcomment %}

<div class="form-row">
  <div class="form-group col-md-6">
      <label>Title</label> {{ form.title }}
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
      <label>Abstract</label> {{ form.abstract }}
  </div>
</div>
<p>Authors: </p> 
{% if paper %}
  {% if paper.authors %}
    {% for author in paper.authors.all %}
      {% if author.email != paper.submitter.email %} 
        <p> {{ author.first_name }} {{ author.last_name }}
          <a href="#" class="form-action-link" data-action="edit_author" data-author-id="{{ author.id }}" style="color: unset;"><i class="fas fa-edit"></i></a>
          <a href="#" class="form-action-link" data-action="delete_author" data-author-id="{{ author.id }}" onclick="return confirm('Are you sure you want to delete this author?')"><i class="fas fa-trash text-danger"></i></a>
        </p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

<button type="submit" name="add_author" class="btn btn-dark">Add Author</button>

<div class="form-row">
  <div class="form-group col-md-6">
      <label>Add yourself as author</label> {{ form.is_submitter_author }}
  </div>
</div>

<div class="form-row">
<div class="form-group col-md-6" id="item-keywords">
  <label>Keywords</label>&nbsp; &nbsp;<a href="#" class="add-keywords"><i class="fas fa-plus"></i></a>
  <br />
  {{ formset.management_form }} 
  {% for form in formset %}
  <tr>
    {% for field in form.visible_fields %} 
      {% if field.name != 'DELETE' %}
        <td>
          {{ field }}
          {% for error in field.errors %}
            <span style="color: red">{{ error }}</span>
          {% endfor %}
        </td>
      {% endif %} 
    {% endfor %} 
    {% if form.instance.pk %}
      <input type="hidden" name="{{ formset.prefix }}-{{ forloop.counter0 }}-id" value="{{ form.instance.pk }}"/>
    {% endif %}
  </tr>
  <br/>
  {% endfor %}
</div>
</div>



<div class="form-row">
    <div class="form-group col-md-6">
        <label>File</label>
        {{ form.file }}
    </div>
</div>

<button type="submit" name="submit_paper" class="btn btn-dark mb-3">Submit Paper</button>
 
<a href="{% url 'conference_listing' %}" class="btn btn-outline-dark mb-3 ms-2" style="width: 75px;"><i class="fas fa-chevron-left"></i> Back</a>

<button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;"><i class="fas fa-sync-alt"></i></button>

<ul class='errorList'>
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <li style="color: red;">{{field}}: {{ error }}</li>
        {% endfor %}
      {% endif %}
    {% endfor %}
</ul>

<li style="color: red;">{{ form.non_field_errors }}</li>
</form>



{% block js %}
<script>
  $(document).ready(function() {
    $('#add_author_modal').modal('show');
    $('#add_author_modal').on('click', function(event) {
      if ($(event.target).is('#add_author_modal')) {
        redirectToSubmitPaper();
      }
    });
  }); 
{% endblock js %}
  function redirectToSubmitPaper() {
    window.location.href = {% block redirect-link %}"{% url 'submit_paper' conference_id paper.id %}"{% endblock %};
  }
</script>

<script>
  var formActionLinks = document.getElementsByClassName('form-action-link');
  for (var i = 0; i < formActionLinks.length; i++) {
    formActionLinks[i].addEventListener('click', function(e) {
      e.preventDefault();
      var form = document.getElementById('submit-paper-form');
      var authorId = this.getAttribute('data-author-id');
      var action = this.getAttribute('data-action');
      form.action = form.action + authorId+ '/' + '?action=' + action;
      form.submit();
    });
  }
</script>

{% endblock %}