{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.content-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-check {
    margin-top: 15px;
}

.form-check input[type="checkbox"] {
    margin-right: 5px;
}

.btn-dark {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-outline-dark {
    border: 1px solid #333;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #555;
}

.btn-outline-dark:hover {
    color: #555;
    border-color: #555;
}

.fa-sync-alt {
    font-size: 16px;
}

.form-row {
    margin-bottom: 15px;
}

.form-select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.form-select:focus {
    outline: none;
    border-color: #555;
}

.form-select option {
    color: #555;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 30px 10px;
        padding: 20px;
    }
}

</style>

{% include 'includes/editor_navbar.html' %}

<body>

  <div class="content-container">
    <h1>Conference Form</h1>
    <div class="form-container">
      <form action="{% url 'create_conference' %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        
        <div class="form-group">
          <label for="name">Name</label>
          {{ form.name }}
        </div>
        
        <div class="form-group">
          <label for="acronym">Acronym</label>
          {{ form.acronym }}
        </div>
        
        <div class="form-group">
          <label for="researchArea" class="form-label">Research area</label>
          {{ form.research_area }}
        </div>
        
        <div class="form-group">
          <label for="venue">Venue</label>
          {{ form.venue }}
        </div>
        
        <div class="form-group">
          <label for="city">City</label>
          {{ form.city }}
        </div>
        
        <div class="form-group">
          <label for="country">Country</label>
          {{ form.country }}
        </div>
        
        <div class="form-group">
          <label for="webPage" class="form-label">Web page</label>
          {{ form.web_page }}
        </div>
        
        <div class="form-group">
          <label for="startDate">Start Date</label>
          {{ form.start_date }}
        </div>
        
        <div class="form-group">
          <label for="endDate">End Date</label>
          {{ form.end_date }}
        </div>
        
        <div class="form-group">
          <label for="submissionDeadline" class="form-label">Submission deadline</label>
          {{ form.submission_deadline }}
        </div>

        <button type="submit" name="add_editor" class="btn btn-dark">Add Editor</button>

        <div class="form-group">
          <label for="isCreatorEditor" class="form-check-label">
            Add yourself as editor
          </label>
          {{ form.is_creator_editor }}
        </div>
        
        <button type="submit" class="btn btn-dark mt-3">Create</button>
        
        <!-- <button type="reset" class="btn btn-outline-dark mt-3 ms-2" style="width: 50px;"><i class="fas fa-sync-alt"></i></button> -->
        
        <ul class='errorList'>
          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li style="color: red;">{{ field.name }}: {{ error }}</li>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <li style="color: red;">{{ form.non_field_errors }}</li>
        </ul>  

      </form>
    </div>
  </div>

</body>
{% endblock %}
