{% extends 'base.html' %}

{% block content %}

{% include 'includes/admin_navbar.html' %}

<form action="{% url 'edit_is_approved' form.instance.id %}" method="post">
  {% csrf_token %}
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h3 class="card-title">{{ form.instance.name }}({{ form.instance.acronym }})</h3>

      <p class="card-text">
        <b>Research Area: </b>{{ form.instance.research_area }}
      </p>
      
      <p class="card-text">
        <b>Venue: </b>{{ form.instance.venue }}
      </p>

      <p class="card-text">
        <b>City: </b>{{ form.instance.city }}
      </p>

      <p class="card-text">
        <b>Country: </b>{{ form.instance.country }}
      </p>

      <p class="card-text">
        <b>Web page: </b>{{ form.instance.web_page }}
      </p>

      <p class="card-text">
        <b>Start date: </b>{{ form.instance.start_date }}
      </p>

      <p class="card-text">
        <b>End date: </b>{{ form.instance.end_date }}
      </p>

      <p class="card-text">
        <b>Submission deadline: </b>{{ form.instance.submission_deadline }}
      </p>

      <p class="card-text">
        <b>Editors: </b>
        {% for editor in form.instance.editors.all %}
            {{ editor }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>  

      <p class="card-text">
        <b>Is Approved: </b>{{ form.is_approved }}
      </p>

      <p>
        <a href="{% url 'edit_is_approved_all' %}" class="btn btn-outline-secondary mb-3"><i class="fas fa-angle-left"></i> Back</a>
        <button type="submit" class="btn btn-dark mb-3">Submit</button>
      </p>   

    </div>
  </div>
</form>

{% endblock %}  
