{% extends 'base.html' %}

{% block content %}
<style>
    /* Custom CSS Styles */
    .table-container {
        max-width: 1000px;
        margin: 20px auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
    }

    .table th {
        font-weight: bold;
    }

    .table tr:hover {
        background-color: #f5f5f5;
    }

    .btn-submit {
        margin-top: 10px;
    }
</style>

{% include 'includes/admin_navbar.html' %}

<div class="table-container">
    <form action="{% url 'edit_is_approved_all' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Research Area</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Submission Deadline</th>
                    <th>Editors</th>
                    <th>Is Approved</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'edit_is_approved' form.instance.id %}">
                            {{ form.instance.name }} ({{ form.instance.acronym }})
                        </a>
                    </td>
                    <td>{{ form.instance.research_area }}</td>
                    <td>{{ form.instance.venue }}, {{ form.instance.city }}, {{ form.instance.country }}</td>
                    <td>{{ form.instance.start_date|date:"F d, Y" }}</td>
                    <td>{{ form.instance.end_date|date:"F d, Y" }}</td>
                    <td>{{ form.instance.submission_deadline|date:"F d, Y" }}</td>
                    <td>
                        {% for editor in form.instance.editors.all %}
                        {{ editor }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.is_approved }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
    </form>
</div>
{% endblock %}
