{% extends 'base.html' %}
{% block content %}

{% block css %}
<style>
.container {
  position: absolute;
  top: 100px;
  left: 20%;
  border: 2px solid rgb(15, 11, 3);
  padding: 10px;
  color: #ffffff;
  background-color: #e2abab6f;
  border-radius: 10px;
  padding: 20px;
  
}

.container h1 {
  color: #ffffff;
  text-align: center;
}

.container label {
  color: #fff;
}

.container input[type="text"],
.container textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
}

.container .form-row {
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 10px;
}

.container .btn {
  margin-top: 10px;
}

.container .error-list {
  color: red;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.container .error-list li {
  color: red;
}

.container .form-action-link {
  color: unset;
  margin-right: 5px;
}

.container .fa-edit,
.container .fa-trash {
  vertical-align: middle;
}

.container .back-btn {
  width: 75px;
}

.container .reset-btn {
  width: 50px;
}

.container .authors-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container .authors-heading h2 {
  margin-right: 10px;
}

.container .add-author-btn {
  margin-top: 5px;
}

</style>
{% endblock %}

<div class="container">
  <h1>Fill Out this form to submit your paper!!</h1>

  {% if not display_add_author_model and not display_edit_author_model %}
    {% block action %} 
      {% if paper %}  
        <form id="submit-paper-form" action="{% url 'submit_paper' conference_id paper.id %}" method="post" enctype="multipart/form-data">
      {% else %}
        <form action="{% url 'submit_paper' conference_id %}" method="post" enctype="multipart/form-data">
      {% endif %} 
    {% endblock %}   
  {% endif %}

  {% csrf_token %}

  {% if display_add_author_model %}
    {% block add_author_modal %}
      {% include 'conference/add_author.html' %}
    {% endblock %}  
  {% endif %}

  {% if display_edit_author_model %}
    {% block edit_author_modal %}
      {% include 'conference/edit_author.html' %}
    {% endblock edit_author_modal %}  
  {% endif %}

  <div class="form-row">
    <div class="form-group col-md-6">
      <h2>Title</h2>
      {{ form.title }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <h2>Abstract</h2>
      {{ form.abstract }}
    </div>
  </div>
    
  <div class="authors-heading">
    <h2>Authors:</h2>
    <button type="submit" name={% block add-author-btn-name %}"add_author"{% endblock %} class="btn btn-dark add-author-btn">Add Author</button>
  </div>

  {% if paper %}
    {% if paper.authors %}
      {% for author in paper.authors.all %}
        {% if author.email != paper.submitter.email %} 
          <p>{{ author.first_name }} {{ author.last_name }}
            <a href="#" class="form-action-link" data-action="edit_author" data-author-id="{{ author.id }}"><i class="fas fa-edit"></i></a>
            <a href="#" class="form-action-link" data-action="delete_author" data-author-id="{{ author.id }}" onclick="return confirm('Are you sure you want to delete this author?')"><i class="fas fa-trash text-danger"></i></a>
          </p>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
    
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Add yourself as an author</label>
      {{ form.is_submitter_author }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <h2>Choose Your File :</h2>
      {{ form.file }}
    </div>
  </div>
  
  <button type="submit" name="submit_paper" class="btn btn-dark mb-3">{% block action-btn-text %}Submit Paper{% endblock %}</button>
     
  <a href={% block back-btn-link %}"{% url 'conference_listing' %}"{% endblock %} class="btn btn-outline-light mb-3 ms-2 back-btn"><i class="fas fa-chevron-left"></i> Back</a>

  <button type="reset" class="btn btn-outline-light mb-3 ms-2 reset-btn"><i class="fas fa-sync-alt"></i></button>
    
  <ul class="error-list">
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endif %}
    {% endfor %}
    <li>{{ form.non_field_errors }}</li>
  </ul>
  
</form>

<script>
  var formActionLinks = document.getElementsByClassName('form-action-link');
  for (var i = 0; i < formActionLinks.length; i++) {
    formActionLinks[i].addEventListener('click', function(e) {
      e.preventDefault();
      var form = document.getElementById('submit-paper-form');
      var authorId = this.getAttribute('data-author-id');
      var action = this.getAttribute('data-action');
      form.action = form.action + authorId+ '/' + '?action=' + action;
      form.submit();
    });
  }
</script>
</div>

{% endblock %}