{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

{% if display_add_reviewer_modal %}
    {% include 'conference/add_reviewer.html' %}
{% endif %}

{% if display_add_new_reviewer_modal %}
    {% include 'conference/add_new_reviewer.html' %}
{% endif %}

{% if display_edit_reviewer_modal %}
    {% include 'conference/edit_reviewer.html' %}
{% endif %} 

{% if display_reviewer_info_modal %}
    {% include 'conference/reviewer_info.html' %}
{% endif %}

{% if papers %}
    <h3>Papers submitted to the <i>{{ conference.name }} ({{ conference.acronym }})</i></h3>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Abstract</th>
            <th scope="col">Authors</th>
            <th scope="col">View Paper</th>
            <th scope="col">Add Reviewers</th>  
        </tr>
    </thead>
    <tbody>
        {% for paper in papers %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ paper.title }}</td>
            <td>{{ paper.abstract }}</td>
            <td>
            {% for author in paper.authors.all %}
                {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %} 
            </td>   
            <td>
                {% if paper.file %}
                    <a href='{{ paper.file.url }}'>{{ paper|basename }}</a>  
                {% endif %}
            </td>
            <td>
                <a href="{% url 'add_reviewer' conference.id paper.id %}" style="color: unset;"><b>From Users</b> <i class='fas fa-plus'></i></a><br/>
                {% for reviewer in paper.reviewers.all %}   
                    {% if reviewer.user %} 
                        {{ reviewer.first_name }} {{reviewer.last_name }} <a href="{% url 'reviewer_info' conference.id paper.id reviewer.id %}" style="color:black"><i class="fa fa-info-circle"></i></a>  <a href="{% url 'delete_reviewer' conference.id paper.id reviewer.id %}" onclick="return confirm('Are you sure you want to delete this reviewer?')"><i class="fas fa-trash text-danger"></i></a> <br>
                    {% endif %}
                {% endfor %}
                
                <a href="{% url 'add_new_reviewer' conference.id paper.id %}"><b>From Yourself</b> <i class='fas fa-plus'></i></a><br/>
                {% for reviewer in paper.reviewers.all %}
                    {% if not reviewer.user %}
                    <span style="color:blue">{{ reviewer.first_name }} {{reviewer.last_name }}</span> <a href="{% url 'edit_reviewer' conference.id paper.id reviewer.id %}"><i class="fas fa-edit"></i></a>   <a href="{% url 'delete_reviewer' conference.id paper.id reviewer.id %}" onclick="return confirm('Are you sure you want to delete this reviewer?')"><i class="fas fa-trash text-danger"></i></a> <br>
                    {% endif %}
                {% endfor %}       
            </td>
        </tr>
        {% endfor %}    
    </tbody>
    </table>
{% endif %}

{% endblock %}